<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div id="plot-div">
    </div>

    <div class="modal fade" id="config-modal" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New data...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="config-modal-body">
                </div>
                <div class="modal-footer">
                    <button id="confirm-button" type="button" class="btn btn-primary">Plot!</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>